<div class='page-header'>
  <h1>
    <%= t('Travel Info') %>
    <div class='pull-right'>
      <%= link_to edit_travel_path(@travel), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-pencil'></i> <%= t('Edit') %>
      <% end %>
      <%= link_to travels_path, class: 'btn btn-warning' do %>
        <i class='glyphicon glyphicon-backward'></i> <%= t('Back') %>
      <% end %>
    </div>
  </h1>
</div>

<div class='panel panel-default'>
  <div class='panel-body'>
    <p>
      <strong>Name</strong>
      <%= @travel.name %>
    </p>
    <p>
      <strong>Day</strong>
      <%= @travel.day %>
    </p>
    <p>
      <strong>Description</strong>
      <%= @travel.description %>
    </p>
  </div>
</div>
