<div class='page-header'>
  <h1>
    <%= t('Listing Students') %> (<%= @count_students %>)  <small><%= @student %></small>
    <div class='pull-right'>
      <%= link_to new_student_path(), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-plus'></i> <%= t('New Student') %>
      <% end %>
    </div>
  </h1>
</div>

<table class='table table-responsive table-hover table-stripped' id='students'>
  <thead>
  <tr>
      <th>Registration</th>
    <th></th>
  </tr>

  </thead>

  <tbody>
    <% @students.each do |student| %>
    <tr>
        <td><%= student.registration %></td>
      <td class='actions text-center'>
        <%= link_to t('Show'), student_path(student), class: 'btn btn-sm btn-info' %>
        <%= link_to t('Edit'), edit_student_path(student), class: 'btn btn-sm btn-warning' %>
        <%= link_to t('Destroy'), student_path(student), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('Are you sure?') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<!--%%= paginate @students %-->